/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
  background-color: #000000;
  color: #fafafa;
  font-family: Inconsolata, monospace;
	font-size: 18px;
}
button:focus {outline:0;}
input, button, submit
{
  border:none;
	background-color: transparent;
	font-family: Inconsolata, monospace;
	font-size: 18px;
}
input:hover, button:hover, submit:hover
{
  color: #9c0aa8;
}
.sectionHeading {
  font-size: 70px;
  font-family: Yellowtail, cursive;
}
.aboutHeading {
  color: #000000;
  text-align: left;
	padding: 70px 0 0 70px;
}
.contactHeading {
  color: #fafafa;
  text-align: center;
}
#aboutContainer {
	background-image: url(http://i.imgur.com/Pxke45b.png);
	background-repeat: no-repeat;
	background-position: right;
  background-color: #0083c4;
	height: 712px;
	width: 100%;
}
#aboutInfo {
	width: 70%
}
#aboutInfo ul {
	padding: 7%;
	font-size: 25px;
}
#portfolioContainer {
  background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/cork-wallet.png");
  background-color: #ddd9d4;
}
#contactContainer {
  background-color: #000000;
}
header {
	display: inline;
	width: 100%;
}
#headerImg img {
	width: 190px;
	display: inline;
	float: left;
	clear: both;
	padding: 4% 5% 5% 5%;
}
header li {
	display: inline;
	text-align: right;
}
header ul {
	text-align: right;
	padding: 5%;
}
header a {
	padding: 10px 10px;
	display: inline-block;
	text-align: right;
	color: #0083c4;
	text-decoration: none;
	font-family: Helvetica;
}
header a:hover {
	color: #ffffff;
}
.portfolioHeading {

}
#portfolioContainer {
	height: 714px;
	display: block;
}
#webContent{
	width: 50%;
	padding: 7% 15%;
	margin: 0 20%;
}
#portfolioNav {
	float:left;
	display: inline;
	font-size: 35px;
	padding: 7% 0 0 7%;
}
#portfolioNav button {
	font-size: 35px;
}
.programmingMock {
	color: #000000;
}
.programmingMock a {
	color: #000000;
	text-decoration: none;
}
.programmingMock a:hover {
	color: #9c0aa8;
}
.portMock {
	color: #7a7a7a;
}

.shellHeading {
	background: #fafafa; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#cfcfcf, #aaaaaa); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#cfcfcf, #aaaaaa); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#cfcfcf, #aaaaaa); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#cfcfcf, #aaaaaa); /* Standard syntax (must be last) */
	color: #313d48;
	padding: 2px 20px;
	font-size: 16px;
	border-radius: 3px 3px 0 0;
	text-align: center;
	width: 100%;
}
.shellContent {
	background-color: #313d48;
	padding: 20px;
	width: 100%;
	padding: 30px 20px 40px 20px;
	font-size: 20px;
}
.shellContent a {
	color:#ffe400;
	display: block;
	padding: 3px;
}
.shellContent a:hover {
	color:#ff6000;
	display: block;
}
#multiMediaContent {
	width: 60%;
	padding: 7% 0 0 35%;

}
#multiMediaContent img {
	width: 25%;
}
#graphicDesignContent {
	width: 60%;
	padding: 7% 0 0 35%;

}
#graphicDesignContent img {
	width: 25%;
}
footer {
	text-align: center;
	padding: 110px 0 110px 0;
}
.iconContainer ul {
	padding-top: 70px;
}
.iconContainer li{
	display: inline;
}
.iconContainer img{
	width: 15%;
}
.fil0:hover{
	fill: #ffffff;
	display:
}
#footerText {
	padding: 70px 0;
}
footer a {
	color: #F9F9F9;
}
footer a:hover {
	color: #9c0aa8;
}








/*MEDIA QUERIES*/
@media only screen and (min-width: 958px){
.mobileBreak {
	display: none;
	}
}
@media only screen and (max-width: 958px){

	#portfolioNavMobile {
		display: none;
	}
	#aboutContainer {
		background-image: url(http://i.imgur.com/uVvQOyS.png);
		background-repeat: no-repeat;
		background-position: right;
	  background-color: #0083c4;
		height: 640px;
		width: 100%;
	}
	.aboutHeading, .sectionHeading{
		font-size: 50px;
		text-align: center;
		padding-left: 0;
		padding-right: 0;
	}
	#aboutInfo {
		color: #000000;
		width: 80%;
		margin: auto;
	}
	#aboutInfo ul {
		padding: 7%;
		font-size: 22px;
		list-style: none;
	}
	#portfolioNav {
		float:none;
		display: block;
		font-size: 35px;
		padding: 0% 0 0 1%;
	}

	#webContent {
		width: 100%;
		padding: 5%;
		margin: auto;
	}
	.aboutContent {
		color: #ffffff;
		padding: 20% 0%;
		margin: auto;
	}
	.aboutContent a{
		color: #ffffff;
	}
	#portfolioMobile li{
		display: inline;
		font-size: 16px;
		list-style: none;
	}
	.portMock {
		display: block;
	}
	#portfolioMobile button {
		font-size: 18px;
		list-style: none;
		padding: 0;
	}
	#multiMediaContent{
		width: 80%;
		padding: 0;
		margin: auto;
	}
	#multiMediaContent img {
		width: 45%;
	}
	#graphicDesignContent{
		width: 80%;
		padding: 0;
		margin: auto;
	}
	#graphicDesignContent img {
		width: 45%;
	}
	#footerText {
		padding: 70px 0;
		font-size: 14px;
	}
	footer a {
		color: #F9F9F9;
	}
	footer a:hover {
		color: #9c0aa8;
	}
}
@media only screen and (max-width: 594px){
	#headerImg img {
		display: block;
		float: none;
		margin: auto auto;
		padding: 10% 0 0 0;
	}
	header ul{
		display: block;
		text-align: center;
	}
}
