body {
  font-family: Helvetica, sans-serif;
  color: #ffffff;
}
h1 {
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 40px;
}
#volvoContainer {
  background-image: url("http://joethemovie.com/pages/volvo_blog_button/s90BG.jpg");
  background-size: 940px;
  width: 940px;
  height: 626px;
  background-repeat: no-repeat;
  background-color: #cccccc;
  margin: auto;
}
.contentContainer {
  height: 626px;
  padding: 0px 20px 0px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 50%;
  margin: 0px;
}
.contentContainer h1{
  padding: 20px 0 0 0;
}
.links a {
  color: white;
  text-decoration: none;
  background-color: #033057;
  padding: 15px 42px;
}
.links a:hover {
  background-color: #042644;
}
.box {
  display: inline-block;
  list-style: none;
  margin: auto;
}
.box img {
  width: 110px;
}
p {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}
.links p{
  padding-top: 10px;
}
